<br>
<br>

<div class="row">
  <div class="small-12 text-center">
    <h1>As you already know my name is Forrest Widmer...</h1>
    <h6>but that doesn't tell you much, so please keep reading!</h6>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">

    <p>I currently reside in sunny (aka mind melting hot) Phoenix, AZ. I am a web developer with the ability to build basic static sites, web based applications, e-commerce websites, as well as being a social media administrator for small businesses. I am passionate and aggressive with my work, I'm always eager to learn, and I always keep an open mind.
      <br>
      <br>
    Aside from coding I also train for Strongman and general strength. I make sure to exercise both mind and body to feel and operate at my best. People often laugh when they find out what a huge nerd I am based off of how I look. But do not be deceived by my appearences! I enjoy sitting in front of the computer for hours and hours knowing that what I am building is helping another person build their business. When we sign a deal your business becomes my business and I treat it as such.
      <br>
      <br>
    I also love camping, as shown in the pictures below. Although coding is a passion of mine nothing can replace immersing yourself in nature for a few days. The feeling of clean air, food cooked over a fire, and most likely a game of paintball or target shooting really make you feel in touch with your primal side. As you can probably tell by now I'm an individual with a very broad range of skills and interests. If there is ever any way that I can be of service, please feel free to <%= link_to "give me a shout", contact_new_path %> at any time and I will respond as soon as possible. Thanks for taking a look at my site and learning a little more about me. I wish you a healthy and prosperous life full of good friends and good drink.</p>
    <p>Your new friend,</p>
    <h1>Forrest Widmer</h1>
  </div>
</div>  

<div class="row">
<div class="small-12 columns">
    <div class="orbit-container">
      <ul data-orbit 
      data-options="
      animate_speed:500 
      animation:slide;
      animation_speed:1000;
      pause_on_hover:false;
      animation_speed:500;
      navigation_arrows:true;
      bullets:false;
      next_on_click:true;">
      <li>
        <img src="<%= asset_path('sleepy.jpg') %>" alt="slide 1" />
          <div class="orbit-caption">
            Falling asleep by the fire.
          </div>
      </li>
      <li>
        <img src="<%= asset_path('sistersgrad.jpg') %>" alt="slide 2" />
        <div class="orbit-caption">
          Little Sister growing up fast.
        </div>
      </li>
      <li>
        <img src="<%= asset_path('wifeandi.jpg') %>" alt="slide 3" />
          <div class="orbit-caption">
            My Wife and I in beautiful Flagstaff.
          </div>
      </li>
      </ul>
    </div>
  </div>
</div>
