<br>
<br>

<div class="row">
  <div class="small-12 text-center">
    <h1>As you already know my name is Forrest Widmer...</h1>
    <h6>but that doesn't tell you much, so please keep reading!</h6>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <p>I currently reside in sunny (aka extremely hot) Phoenix, AZ with my Wife and two kids (really my two dogs but they act like human children). Aside from coding I also train for Strongman and general strength. I make sure to exercise both mind and body to feel and operate at my best. People often laugh when they find out what a huge nerd I am based off of how I look. They usually think I’m a hobbyist lumberjack or bouncer but in reality I’m right at home playing my Xbox or watching the entire Lord of the Rings series with my Wife (after the gym of course!).  <br><br>I am currently looking for a lifetime or very long-term job at a company that cares as much about me as I do for them. As it says on my home page I am a knowledge seeker extraordinaire, meaning there is nothing I do or enjoy more than to research and learn new things. I am a dry sponge willing to soak up new information! If this sounds like someone you would like to have working under you please <%= link_to "give me a shout", contact_new_path %> , I will be more than happy to respond ASAP! Thanks! </p>
  </div>
</div>  

<div class="row">
<div class="small-12 columns">
    <div class="orbit-container">
      <ul data-orbit 
      data-options="
      animate_speed:500 
      animation:slide;
      animation_speed:1000;
      pause_on_hover:false;
      animation_speed:500;
      navigation_arrows:true;
      bullets:false;
      next_on_click:true;">
      <li>
        <img src="<%= asset_path('sleepy.jpg') %>" alt="slide 1" />
          <div class="orbit-caption">
            Falling asleep by the fire.
          </div>
      </li>
      <li>
        <img src="<%= asset_path('sistersgrad.jpg') %>" alt="slide 2" />
        <div class="orbit-caption">
          Little Sister growing up fast.
        </div>
      </li>
      <li>
        <img src="<%= asset_path('wifeandi.jpg') %>" alt="slide 3" />
          <div class="orbit-caption">
            My Wife and I in beautiful Flagstaff.
          </div>
      </li>
      </ul>
    </div>
  </div>
</div>
