<div class="row">
  <div class="small-12 text-center">
    <h1>Services I Offer</h1>
    <h6>(including, but not limited to)</h6>
  </div>
</div>



<div class="row">
  <div class="small-12">
    <ul class="small-block-grid-2">
      <li>
        <div class="panel radius">
          <h1>Websites</h1>
          <p>Basic static websites that advertise products or services. They can be as simple as a home page with a "contact us" and "services" or "products" page. Generally affordable, fast, and easy to style for your preferences. Features may be added on a per-item basis such as recieving emails through your website or allowing customers to create and manage accounts. Just let us know if you have an idea and we'll do what it takes to implement it. </p>
      </div>
      </li>
      <li>
        <div class="panel radius">
          <h1>Web Applications</h1>
          <p>The only limit here is your imagination. We create many types of custom web applications all using as much open source software as possible to allow us to charge you less. Some examples include: E-Commerce solutions, SaaS products, CMS (content management system), forums, blogs, news services, and media content management like music, videos, or streaming services. We prototype fast with the flexibility to make changes on the go with little delay. </p>
        </div>
      </li>
      <li>
        <div class="panel radius">
          <h1>E-Commerce</h1>
          <p>Although mentioned above this one gets its own section because of how important it is. The selling of goods or services has been around since we were living in caves. However, the methods have since changed drastically and that's where we come in. We build your online store with the latest technologies and we build it with you in mind. We make it easy to edit, update, and add new content or products to your store. We also make sure that your store has all the features that you want. Customer accounts, secure and PCI compliant payment methods, emailing, or various levels of authority for employees. Have a unique need or idea? We'll help you find a solution.</p>
          <br>
        </div>
      </li>
      <li>
        <div class="panel radius">
          <h1>Web Maintenance and Social Media Management</h1>
          <p>All services offered come with a 30 day debugging warranty free of charge. This covers anything that does not function according to the agreed specifications as long as the code is <b>unaltered</b>. In addition to this you may purchase a maintenance plan for a monthly charge that will vary based on the scale of the project. This will cover any future phases of development along with unlimited debugging (again, as long as code is <b>unaltered</b>) within a resonable amount of time. Basically if something breaks, I fix it for free as soon as possible. </p>
        </div>
      </li>
    </ul>
  </div><hr>
</div>

<div class="row">
  <div class="small-12 text-center">
    <h1>Need a web based application that nobody has ever heard of before?</h1>
    <p>Awesome! We love a challenge! If you find yourself looking for a web app that doesn't exist or something completely unique to your personal situation then <%= link_to "let us know fast.", contact_new_path %> We love you people the most! (shh, don't tell anyone!) We will work with you through all phases of development and production.</p>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>