<div class="panel text-center font">
  <h0 class="">Lets face it, everything these days is online and your online presense is most likely the first interaction you will ever have with your customers.</h0>
</div>
<br>
<br>


<div class="row">
  <div class="large-12">
    <ul class="large-block-grid-2">
      <li>
        <div class="panel radius">
          <h1>So let's make sure it's not the last interaction!</h1>
          <h4>When a person hears of some new business or anything at all really, the first thing most people do is whip out their phones, tablets, or laptops and google it. People expect a certain level of online presense and want to do more things online. This is where I come in. Regardless of your industry or area of expertise, I can help you build your business or solve problems that slow you down.</h4>
          <br>
      </div>
      </li>
      <li>
        <div class="panel radius">
          <h1>I can help you! Really!</h1>
          <h4>The only limit here is <strong>OUR</strong> imagination. Regardless of your needs or desires I'll work with you to come up with the best possible solutions. From simple but beautiful websites to complex web applications that serve thousands, we can work together to bring your ideas to life in ways you didn't think possible. So please, if you have the slightest doubt that your business is not all that it can be, reach out and let me know. I charge nothing for simply having a conversation about your business and talking about what we can do to help each other.</h4>
          <br>
        </div>
      </li>

      <div class="row">
        <div class="large-12 text-center">
          <h1>Ready to get started? Then click the button below to leave me a message.</h1>
          <%= link_to "Click Here!", contact_new_path, class: 'button' %>
        </div>
      </div>
      <!-- 
  <div class="panel radius">
          <h1>Websites</h1>
          <h4>When clients or customers hear about your business the first thing they will most likely do is google you and visit your website. Don't let their first experience with you be unpleasent. I can build you an attractive and easy to navigate website starting at just $250. The basic features start with four web pages (usually "Home", "About Us", "Products" or "Services", and "Other") as well as a "Contact Us" page for your customers. Additional features/pages can be added as needed.</h4>
      </div>
      </li>
      <li>
        <div class="panel radius">
          <h1>Web Applications</h1>
          <h4>The only limit here is your imagination. Need your own Real Estate site where your clients can view all your available properties? Maybe you have a delivery service and want clients to book you online while you get the details via text? Need to automate daily tasks in your office? Regardless of what you need to build your business, I have you covered. If you can think it, I can build it.</h4>
          <br>
        </div>
      </li>

      <li>
        <div class="panel radius">
          <h1>E-Commerce</h1>
          <h4>The selling of goods or services has been around since we were living in caves. However, the methods have since changed drastically and that's where I come in. I can build your online store with the latest technologies and  build it with you in mind. I make it easy to edit, update, and add new content or products to your store. I also make sure that your store has all the features that you want. Customer accounts, secure and PCI compliant payment methods, emailing, or various levels of authority for employees. Have a unique need or idea? I'll help you find a solution.</h4>
          <br>
        </div>
      </li>
      <li>
        <div class="panel radius">
          <h1>Web Maintenance and Social Media Management</h1>
          <h4>All services offered come with a 30 day debugging warranty free of charge. This covers anything that does not function according to the agreed specifications as long as the code is <b>unaltered</b>. In addition to this I offer a maintenance plan that will cover any future phases of development along with unlimited debugging (again, as long as code is <b>unaltered</b>) within a resonable amount of time. Basically if something breaks, I fix it for free as soon as possible. </h4>
          <br>
        </div>
      </li>-->
    </ul>
  </div><hr>
</div>

