<br>
<br>

<div class="row">
  <div class="small-12 text-center">
    <h0>Current Personal Projects</h0>
    <p>(non-professional)</p>
  </div>
  <hr>
</div>
<div class="row">
  <div class="small-6 text-left columns">
    <h1>The Daily Reminder</h1>
    <h4>Ruby on Rails</h4>
    <h4>Deployed using Heroku</h4>
    <h4>In progress, no image available yet.</h4>
    <p>Good web applications solve problems. This one is solving a huge problem of mine! When I am at work, the gym, or anywhere public I always strive to be alert and on my game, you never know when a good opportunity may present itself. <b>However,</b> at home I relax and let myself loose of the chains of that day's activities. Sometimes when I do this I tend to forget small tasks. Take out the trash, go do this errand, etc, etc. This web app will allow me (and you too!) to schedule a day and time for a reminder. At that day and time you will receive a text message reminding you to do whatever task you assigned yourself. In today's day and age <b>everyone</b> always has a smartphone on them and usually immediatly checks it when they get a message. Problem = Solved. </p>
  </div>
  <hr>
<div class="row">
  <div class="small-6 text-left columns">
    <h1>Wikimachine</h1>
    <h4>Ruby on Rails</h4>
    <h4>Deployed using Heroku</h4>
    <h4><a href="https://github.com/ForrestWidmer/mywiki">Github Repo</a></h4>
    <h4>Currently de-bugging for production</h4>
    <p>This is a community based SaaS web application. The purpose of this app is to allow users to build, share, and customize wiki's using markdown syntax for formatting. A free user can create an account and start building an unlimited amount of free public wiki's that anyone can view. Free users have the option to pay a small fee to become a premium member. Premium members have the ability to privatize their wiki’s so that the public cannot view it. They also have the ability to add an unlimited amount of collaborators to their various projects with each collaborator having the ability to be assigned one of several roles.</b></p>
  </div>

  
<div class="small-6 columns">
  <br>
  <a class="th" href="#">
  <img src="http://i798.photobucket.com/albums/yy263/fwid7710/Home_zps95574ec2.png">
  </a>
</div>
</div>