<br>
<br>

<div class="row">
  <div class="small-12 text-center">
    <h1>Current Project</h1>
  </div>
  <hr>
</div>

<div class="row">
  <div class="small-6 text-left columns">
    <h1>Name: Wikimachine</h1>
    <h2>Type: Saas</h2>
    <h4>Ruby on Rails</h4>
    <h4>Deployed using Heroku</h4>
    <p>This is a community based Saas web application. The purpose of this app is to allow users to build, share, and customize wiki's using markdown syntax for formatting. A free user can create an account and start building an unlimted amount of free public wiki's that anyone can view. Free users have the option to pay a small fee to become a premium member. Prmeium members have the ability to privatize their wiki so that the public cannot view it. They also have the ability to add an unlimted amount of callaborators to their various prjects with each callaborator having tha ability to be assigned one of several roles. <b>Click the button below to take the tour!</b></p>
  </div>

  
<div class="small-6 columns">
  <br>
  <a class="th" href="#">
  <img src="http://i798.photobucket.com/albums/yy263/fwid7710/Home_zps95574ec2.png">
  </a>
</div>
</div>